<!DOCTYPE html>
<html>
<head>
  <title>Shop3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="navbar">

  <div class="navbar-inner">
    <%= link_to "Мой магазин", root_path, class: "brand"%>
      <ul class="nav">
        <li> <%#= link_to "О проекте", welcome_about_path%> </li>
        <li> <%#= link_to "Команда", about_team_path%> </li>
        <li> <%#= link_to "Контактная информация", about_contacts_path%> </li>
        <li> <%#= link_to "Контактная информация", contacts_path%> </li>
        <li> <%= link_to "Категории", categories_path%> </li>
    </ul>
  </div>
</div>

  <div class ="row">
    <div class="span8">

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <%end %>

      <% if alert %>
          <p class="alert"><%= alert %></p>
      <% end %>

      <%=yield %>
    </div>
    <div class="span4">
      <% if signed_in? %>
          Здравствуйте, мы вас помним.
          <%= current_user.email %>

          <div>
            <%= link_to "Моя корзина", item_users_path %>
            -
            <%= current_user.item_users.count %> товаров
            на сумму <%= ItemUser.total_price current_user %> руб.
           </div>


          div <% link_to "Мои заказы", orders_path %><div>

          <%= link_to 'exit', destroy_user_session_path, method: :delete %>
       <% else %>
          <%= link_to 'Вход', new_user_session_path %>

      <% end %>




    </div>

<footer> Подвал</footer>
</div>


</div>


</div>
</body>
</html>
